.container{display:flex;
flex-direction: column;
text-align: center;
gap:20px;
img{
    max-width:250px;
    border-radius: 20px;
    align-self: center;
    background-color: var(--project-card-bg);
}
a{
    color:#222;
    width:fit-content;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

a:hover{
transform: scale(0.9);
}
}
.ProjectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    
}
@media (width>=800px){
    .ProjectContainer{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
        padding:0 30px;
    }
}